# --- Папки сборки/выходные данные ---
build/

# музыку для уровней качайте сами, а то мне АП прилетит
levels/*.ogg
levels/*.wav
levels/*.flac

# они слишком жирные, не влазят в репозиторий
winlibs/*

# Visual Studio
.vs/*
.vs
x64/*
x64

.cache

*.AppImage
*.AppDir

Screen.txt
log.txt
/Isn't hard/Saves
Isn't hard/checkpoint
Isn't hard/checkpoint.txt
Isn't hard/log.txt
/Isn't hard/Achievements
/Isn't hard/Achievements

/Release
/Debug

/Release/*
/Debug/*